@use 'variables';
@use 'mixins';

.trending-slider {
  display: flex;
  overflow-x: auto;
  gap: variables.$padding;
  scroll-behavior: smooth;
  overflow: hidden;
  padding: 10px;
  width: 99%;
  margin: 0 auto;

  .card {
    position: relative;
    background-color: variables.$card-bg;
    width: 190px;
    height: 300px;
    @include mixins.flex-center;
    color: variables.$text-color;
    font-size: 24px;
    border-radius: 10px;
    flex: 0 0 auto;
    margin-right: 1.5rem;
    object-fit: cover;


    &:hover img {
      border-radius: 10px;
      transform: scale(1.5);

    }

    span {
      position: absolute;
      color: variables.$background-color;
      color: white;
      outline-color: variables.$text-color;
      outline-width: 10px;
      font-size: calc(variables.$font-size * 6);
      bottom: 0;
      left: -30px;
    }
  }
}

.reason-cards {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$padding;

  .reason-card {
    flex: 0 1 calc(25% - variables.$padding);
    padding: variables.$padding;
    border-radius: 20px;
    height: 300px;
    background: linear-gradient(to bottom right, rgba(26, 33, 69, 1)5%, rgba(33, 14, 23, 1)90%);
  }
}

.faq_item {
  margin: variables.$padding 0;
  cursor: pointer;
  background-color: variables.$card-bg;
  padding: calc(variables.$padding * 2);
  position: relative;

  h3 {
    font-size: calc(variables.$font-size + 5px);
    font-weight: normal;
    margin-bottom: variables.$margin;
  }

  .answers {
    max-height: 0;
    overflow: hidden;
    transition: max-height .14s ease;
  }

  &.active .answers {
    max-height: 400px;
    // @include mixins.anime;
    animation: fade 1s ease-in-out;
  }

  p {
    font-size: variables.$font-size;
    line-height: 25px;
    margin-bottom: variables.$margin;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.footer {
  // text-align: center;
  padding: variables.$padding;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin: 0 10px;
    }
  }
}