// colors theme
$primary-color: #e50914;
$background-color: #000;
$text-color: #fff;
$card-bg: rgba(255, 255, 255, 0.1);
// $padding: 16px;

// fonts
$font-size: 1rem;

// spacing
$padding: 0.75rem;
$margin: 0.75rem;

// borders
$border-radius: 20px;